div.sticky
{
 position: sticky;
 top:  0px;
 border: 1px solid black; 
 width: 1250px;
 margin: 40px;
 text-align: center;
 color: #000;
background: url(./flower\ bg.jpg);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 950px;
    padding: 20px;
    margin: 20px;
    row-gap: 50px;
    column-gap: 10px;
    

}

.block1 {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    align-items: center;
    box-shadow: 1px 1px 1px 1px gray;

}

.card1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    height: 300px;
    width: 900px;
    background-color: rgb(99, 133, 172);
}

.card2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 50px;
    box-shadow: 1px 1px 1px 1px gray;

}

.card3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 50px;
    box-shadow: 1px 1px 1px 1px gray;
}

.card4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 50px;
    box-shadow: 1px 1px 1px 1px gray;
}

.container1 {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;

}

.block2 {
    text-align: center;
    color: red;
    size: 80px;
    border: 1px solid black;
    background-color: rgb(85, 132, 148);
    box-shadow: 1px 1px 1px 1px rgb(128, 70, 70);
}

.container2 {
    grid-column-start: 1;
    grid-column-end: 4;
    border: 1px solid black;
    height: 300px;

}

.block3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    height: 250px;
    width: 1200px;
    margin: 20px;
    background-color: rgb(17, 2, 102);
    box-shadow: 1px 1px 1px 1px rgb(241, 234, 240);

}

.box1 {
    display: grid;
    border: 1px solid black;
    height: 224px;
    margin: 10px;
    
}

.box2 {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    height: 224px;
    margin: 10px;
    background-color: rgb(85, 97, 109);
   
}

.con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.box3 {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    height: 224px;
    margin: 10px;
    background-color: white;
   
}

.om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.block4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px double rgb(241, 242, 245);;
    background-color: rgb(15, 24, 102);
    box-shadow: 2px 2px 2px 2px rgb(220, 225, 226);
    margin: 30px;

}
.profile
{
   margin: 10px;
   text-align: center;
   color: white;
   margin-top: 40px;
   box-shadow: 1px 1px 1px 1px pink;
   height: 200px;
   width: 200px;
   
}
.Skill
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.information {
    grid-column-start: 2;
    grid-column-end: 5;
    margin: 20px;
    color: white;
}
.personalinfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}